@font-face {
    font-family: 'Mastoc';
    src: url(../fonts/Mastoc.ttf);
}

@font-face {
    font-family: NYTSketch;
    src: url(../fonts/SketchGothicSchool.ttf);
}

@font-face {
    font-family: NYT;
    src: url(../fonts/OldLondon.ttf);
}

html, body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

/* modal styles */
#modalWindow {
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 500;
    background-color: #ffffff;
    opacity: 0.8;
}

.modalPopup {
    position: fixed;
    left: 50%;
    margin: 0 0 0 -27.7%;
    background-color: #ffffff;
    border:5px solid #ffffff;
    border-radius: 15px;
    padding:15px;
    text-align:center;
    z-index: 1000;
}

#searchModal{
    width: 50%;
    height: 47%;
    top: 24%;   
}

#messageModal{
    width: 50%;
    height: 47%;
    top: 24%;
    overflow: scroll;      
}

#receivedMessageModal{
    width: 50%;
    height: 50%;
    top: 24%;
    overflow: scroll;      
}

/* @elisha: change size/positioning of event and profile modals here*/
#eventModal{
    width: 50%;
    height: 80%;
    top: 17%;
    overflow: scroll;   
}

#profileModal{
    width: 700px;
    height: 85%;
    top: 12%;
    overflow: scroll;   
}

/* @Mahd: change size/positioning of event and profile modals here*/
#aboutModal{
    width: 700px;
    height: 400px;
    top: 24%;
    overflow: scroll;   
}

#container1{
    width:100%;
    height:200px;
}

/* icon styles*/
#closeIcon{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#backIcon, #backToProfileIcon {
    height:40px;
    width:40px;
    position: absolute;
    top:10px;
    left:10px;
}

#backIcon:hover, #backToProfileIcon:hover {
    cursor:pointer;
}

#searchIcon{
    height: 50px;
    width: 50px;
}

#searchIcon:hover, #closeIcon:hover, #arrow:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* search modal styles*/
#toggleAdvancedSearch:hover{
    background-color: rgba(256, 256, 256, 0.3);
}

.searchField{
    width: 400px;
    height: 30px; 
    margin-bottom: 10px;
    font-size: 20px; 
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid black;
    padding: 5px;
    border-radius: 5px;
}

.responseField{
    width: 400px;
    height: 30px; 
    margin-bottom: 10px;
    font-size: 20px; 
    border: 0;
    outline: 0;
    background: transparent;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 5px;
    border-radius: 5px;
}

.checkboxSearch{
    margin-bottom: 10px;
    font-size: 20px; 
    border: 0;
    outline: 0;
    background: transparent;
    margin: 10px;
}

.dropdownSearch{
    color: #B0B0B0;
    -webkit-appearance: menulist-button;
}

#searchButton{
    margin-top: 15px;
}

/* Contains list of search results */
#infoWindow{
    position: fixed;
    right: 15px;
    top: 80px;
    width:20%;
    height:86%;
    text-align:center;
    z-index: 500;
    background-color: #ffffff;
    opacity: 0.98;
    border-radius: 15px;
}

.eventListItem{
    padding: 5px;
}

.eventListItem:hover{
    color: orange;
    cursor: pointer;
}

.previousNextLink{
    color: black;
    font-weight: 900;
    font-size: 16px; 
}

.previousNextLink:hover{
    cursor: pointer;
    color: gray;
}

/* misc styles */
#map-canvas {
    height: 100%;
}

#app-name {
    vertical-align: middle;
    line-height: 50px;
    font-size: 26px;
    color: white;
}

#app-line {
    font-size: 16px;
    vertical-align: -50%;
    line-height: 10px;
}

#aboutTitle {
    color: #4DA0EB;
}

#aboutText {
    font-size: 17px;
}
.header-placeholder{
    height: 50px;
}
input[type='checkbox'] {
    zoom: 1.6;
}

#eventTitle {
    position: relative;
    top: 10px;
    color: #4DA0EB;
    font-size: 0.7em;
}