@font-face {
    font-family: 'Mastoc';
    src: url(../font/Mastoc.ttf);
}

@font-face {
    font-family: 'LemonMilk';
    src: url(../font/LemonMilk.otf);
}

@font-face {
    font-family: 'Libertine';
    src: url(../font/Libertine.ttf);
}

body {
    background-color: #1EBAA4;
    font-family: 'Mastoc';
    font-size: 18em;
}